<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Mobile Automation Suite" parallel="none" thread-count="1" verbose="1">

    <listeners>
        <listener class-name="listeners.TestListener"/>
        <listener class-name="listeners.RetryListener"/>
    </listeners>

    <test name="Emulator">
        <parameter name="udid"       value="emulator-5554"/>
        <parameter name="systemPort" value="8201"/>
        <parameter name="deviceName" value="Android Emulator"/>
        <classes>
            <class name="runners.TestRunner"/>
        </classes>
    </test>

</suite>
